<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Create a new list" ng-model="newList">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="createList()"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </p>
        </div>
    </div>
</div>
<div class="container" ng-hide="myLists.length>0">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning" role="alert">
                <p class="text-center">
                    You haven't added any lists yet.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default" ng-repeat="list in myLists track by $index">
                        <div class="panel-heading" role="tab" id="heading{{ $index }}">
                            <span class="pull-left badge badge-danger">
                                {{ list.things.length }}
                            </span>
                            <h4 class="panel-title">
                                &nbsp;
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ $index }}" aria-expanded="false" aria-controls="{{ list.name }}">
                                    {{ list.name }}
                                </a>
                                <a href="#" class=" pull-right" ng-click="deleteList(list._id)">
                                    <span class="text-danger glyphicon glyphicon-remove"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="{{ $index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ $index }}">
                            <div class="panel-body">
                                <div class="form-group" ng-show="list.editing">
                                    <textarea ng-model="list.description" placeholder="Enter a description here." class="form-control"></textarea>
                                </div>
                                <div class="form-group" ng-show="list.editing && list.description">
                                    <span class="btn btn-block btn-primary glyphicon glyphicon-save" ng-click="addDescription(list)"></span>
                                </div>
                                <p ng-hide="list.editing">
                                    <a href="#" ng-show="!list.description" ng-click="editDescription(list)">Add a description</a>
                                    <span href="#" ng-hide="list.editing || !list.description" ng-click="editDescription(list)" class="btn btn-default pull-right glyphicon glyphicon-edit"></span>
                                    {{ list.description }}
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{ list.created | timeAgo }}
                                </p>
                            </div>
                            <ul class="list-group">
                                <li ng-repeat="thing in list.things | filter:myFilter" class="list-group-item">
                                    <div class="media-left block">
                                        <span ng-show="{{thing.active}}" ng-click="completeThing(list._id, thing._id)" class="centered btn btn-default glyphicon glyphicon-ok"></span>
                                        <span ng-show="!{{thing.active}}" ng-click="uncompleteThing(list._id, thing._id)" class="centered btn btn-success glyphicon glyphicon-ok"></span>
                                    </div>
                                    <div class="media-body">
                                        {{ thing.name }}
                                    </div>
                                    <div class="media-right block">
                                        <span ng-click="deleteThing(list._id, thing._id)" class="centered btn btn-danger glyphicon glyphicon-remove"></span>
                                    </div>
                                </li>
                            </ul>
                            <div class="panel-body">
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="Add a new thing to your list" ng-model="newThing[$index]">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" ng-click="addThing(list._id, $index)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
    </div>
</div>
